APP_ENV=development
API_ADDR=:8080
WEB_PORT=3000
MYSQL_DSN=blctekip:blctekip@tcp(mysql:3306)/blctekip?parseTime=true&charset=utf8mb4&collation=utf8mb4_unicode_ci
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api/v1
